[submodule "vim-powerline"]
	path = vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "jshint.vim"]
	path = jshint.vim
	url = git://github.com/manalang/jshint.vim.git
[submodule "closetag.vim"]
	path = closetag.vim
	url = git://github.com/vim-scripts/closetag.vim.git
